@media (max-width: 991px) {
  .head #AllMenu .navbar-nav {
    background: #834c9e80;
    border-radius: 5px; } }

.head {
  background: #3b773bd9; }
  .head .navbar-brand {
    padding: 10px 15px; }
    .head .navbar-brand .icon {
      width: 40px;
      height: 40px;
      display: inline-block;
      text-align: center;
      line-height: 35px;
      background: #18cfab;
      -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
      .head .navbar-brand .icon span {
        color: #fff;
        font-size: 18px;
        font-weight: 700; }
    .head .navbar-brand .name {
      display: inline-block; }
      .head .navbar-brand .name h3 {
        color: #fff;
        font-size: 18px;
        font-weight: 600; }
        .head .navbar-brand .name h3 span {
          color: #18cfab; }
  .head #AllMenu i, .head #AllMenu li a {
    color: #b8b8b8; }
  .head #AllMenu .nav-link {
    border-bottom: 2px solid transparent;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-right: 0;
    padding-left: 0; }
    .head #AllMenu .nav-link:hover {
      text-decoration: none;
      color: #18cfab;
      border-bottom: 2px solid #18cfab; }
  .head #AllMenu .form-inline .form-control, .head #AllMenu .form-inline .btn {
    background: transparent; }
  .head #AllMenu .form-inline .form-control::-webkit-input-placeholder {
    color: #b8b8b8; }
  .head #AllMenu .form-inline .form-control:-ms-input-placeholder {
    color: #b8b8b8; }
  .head #AllMenu .form-inline .form-control::-ms-input-placeholder {
    color: #b8b8b8; }
  .head #AllMenu .form-inline .form-control::placeholder {
    color: #b8b8b8; }

.mybtn {
  display: inline-block;
  width: 160px;
  height: 65px;
  padding-top: 15px;
  margin: 5px;
  border-radius: 5px;
  border-top: 5px solid #fff; }

a:hover {
  text-decoration: none;
  color: #fff; }

@media (min-width: 920px) {
  .slide #banner .carousel-inner .carousel-caption {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: unset;
    padding: 0; } }

.slide #banner .carousel-inner .carousel-caption .content span {
  color: #18cfab; }

.slide #banner .carousel-inner .carousel-caption .content p {
  color: #b8b8b8; }

.slide #banner .carousel-inner .carousel-caption .buy .explo {
  background: #18cfab; }

.slide #banner .carousel-inner .carousel-caption .buy .purch {
  background: #00cbf6; }

.block, .wrapper #skills .block01 h5::before, .wrapper #skills .block02 h5::before, .wrapper #skills .block03 h5::before, .wrapper #skills .block04 h5::before, .wrapper #skills .block05 h5::before, .wrapper #skills .block06 h5::before, .wrapper #skills .block07 h5::before, .wrapper #skills .block08 h5::before, .wrapper #skills .block09 h5::before {
  display: inline-block;
  float: left; }

.wrapper .banner .hicon {
  height: 300px;
  display: inline-block;
  float: left;
  text-align: center;
  padding-top: 100px; }
  .wrapper .banner .hicon:hover {
    -webkit-box-shadow: 0px 5px 15px white;
    box-shadow: 0px 5px 15px white; }

.wrapper .banner .icon01 {
  background: #1c2a33;
  color: #18cfab;
  border-top: 5px solid #18cfab; }

.wrapper .banner i {
  font-size: 70px; }

.wrapper .banner h3 {
  font-size: 20px;
  margin-top: 10px; }

.wrapper .banner .icon02 {
  background: #18cfab;
  color: #fff;
  border-top: 5px solid #fff; }

.wrapper .title {
  text-align: center;
  margin-bottom: 30px; }

.wrapper #skills {
  padding: 90px 0; }
  .wrapper #skills p {
    color: #b8b8b8; }
  .wrapper #skills h5:hover {
    color: #18cfab; }
  .wrapper #skills .item {
    display: inline-block;
    float: left;
    margin-bottom: 40px; }
  .wrapper #skills .block, .wrapper #skills .block01 h5::before, .wrapper #skills .block02 h5::before, .wrapper #skills .block03 h5::before, .wrapper #skills .block04 h5::before, .wrapper #skills .block05 h5::before, .wrapper #skills .block06 h5::before, .wrapper #skills .block07 h5::before, .wrapper #skills .block08 h5::before, .wrapper #skills .block09 h5::before {
    color: #18cfab;
    padding-right: 20px;
    font-family: FontAwesome;
    font-size: 25px; }
  .wrapper #skills .block01 h5::before {
    content: "\f06c"; }
  .wrapper #skills .block02 h5::before {
    content: "\f24a"; }
  .wrapper #skills .block03 h5::before {
    content: "\f002"; }
  .wrapper #skills .block04 h5::before {
    content: "\f011"; }
  .wrapper #skills .block05 h5::before {
    content: "\f013"; }
  .wrapper #skills .block06 h5::before {
    content: "\f017"; }
  .wrapper #skills .block07 h5::before {
    content: "\f01c"; }
  .wrapper #skills .block08 h5::before {
    content: "\f16b"; }
  .wrapper #skills .block09 h5::before {
    content: "\f02d"; }

.about {
  background: url(../img/bg02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.88;
  height: 600px;
  padding: 40px 0; }
  .about .controls .control {
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    background: #444;
    cursor: pointer;
    font-size: 10px;
    color: white;
    -webkit-transition: background 150ms;
    -o-transition: background 150ms;
    transition: background 150ms; }
  .about .contain {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
    /* 1 Columns */
    /* 2 Columns */
    /* 3 Columns */ }
    .about .contain .green {
      color: #91e6c7;
      display: none; }
    .about .contain .blue {
      color: #5ecdde;
      display: none; }
    .about .contain .pink {
      color: #d595aa; }
    .about .contain .mix {
      background: #e92b2b;
      border-top: .5rem solid currentColor;
      border-radius: 2px;
      margin-bottom: 1rem;
      position: relative; }
    .about .contain .mix, .about .contain .gap {
      display: inline-block;
      vertical-align: top; }
    .about .contain .mix, .about .contain .gap {
      width: calc(100%/1 - (((1 - 1) * 1rem) / 1)); }

.about .main .title {
  color: #fff; }

.about .main .menu-about {
  overflow: hidden; }
  .about .main .menu-about ul {
    margin: 0;
    padding: 0; }

.about .main .nav-item {
  display: inline-block;
  float: left;
  margin: 10px; }
  .about .main .nav-item a {
    border-top: 2px solid transparent;
    color: #fff;
    font-weight: 600; }
    .about .main .nav-item a:hover {
      color: #18cfab;
      border-top: 2px solid #18cfab; }

.about .main .content-about {
  position: relative; }
  .about .main .content-about .our {
    height: 350px;
    width: 100%;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    padding-top: 30px; }
  .about .main .content-about .skills {
    background: transparent; }
    .about .main .content-about .skills .codeconSkillbar {
      width: 100%;
      height: 30px;
      position: relative;
      background: rgba(17, 17, 17, 0.3);
      margin: 10px auto; }
    .about .main .content-about .skills .radiour, .about .main .content-about .skills #codeconHTML, .about .main .content-about .skills #codeconCSS, .about .main .content-about .skills #codeconjQuery, .about .main .content-about .skills #codeconJS, .about .main .content-about .skills #codeconXML {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      height: 30px;
      position: absolute; }
    .about .main .content-about .skills #codeconHTML {
      width: 100%;
      -webkit-animation: Animate-HTML 14s;
      animation: Animate-HTML 14s;
      background-color: #9c5da5; }

@-webkit-keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 100%; } }

@keyframes Animate-HTML {
  from {
    width: 10px; }
  to {
    width: 100%; } }
    .about .main .content-about .skills .codeconSkillArea {
      z-index: 1;
      float: left;
      margin-top: 3px;
      margin-left: 10px;
      color: #fff;
      font-size: 16px; }
    .about .main .content-about .skills .PercentText {
      margin-top: 2px;
      float: right;
      color: #fff;
      z-index: 3;
      position: relative;
      padding-right: 5px;
      font-size: 16px; }
    .about .main .content-about .skills #codeconCSS {
      -webkit-animation: Animate-CSS 5s;
      animation: Animate-CSS 5s;
      width: 70%;
      background-color: #11b0de; }

@-webkit-keyframes Animate-CSS {
  from {
    width: 10px; }
  to {
    width: 70%; } }

@keyframes Animate-CSS {
  from {
    width: 10px; }
  to {
    width: 70%; } }
    .about .main .content-about .skills #codeconjQuery {
      -webkit-animation: Animate-jQuery 5s;
      animation: Animate-jQuery 5s;
      width: 40%;
      background-color: #d67f7f; }

@-webkit-keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 40%; } }

@keyframes Animate-jQuery {
  from {
    width: 10px; }
  to {
    width: 40%; } }
    .about .main .content-about .skills #codeconJS {
      -webkit-animation: Animate-JS 5s;
      animation: Animate-JS 5s;
      width: 65%;
      background-color: #20bc9d; }

@-webkit-keyframes Animate-JS {
  from {
    width: 10px; }
  to {
    width: 65%; } }

@keyframes Animate-JS {
  from {
    width: 10px; }
  to {
    width: 65%; } }
    .about .main .content-about .skills #codeconXML {
      -webkit-animation: Animate-XML 5s;
      animation: Animate-XML 5s;
      width: 40%;
      background-color: #bb8a36; }

@-webkit-keyframes Animate-XML {
  from {
    width: 10px; }
  to {
    width: 40%; } }

@keyframes Animate-XML {
  from {
    width: 10px; }
  to {
    width: 40%; } }
  .about .main .content-about .biography {
    background: transparent;
    color: #fff; }
  .about .main .content-about .history {
    background: transparent;
    color: #fff; }
    @media (max-width: 768px) {
      .about .main .content-about .history p {
        margin-bottom: 10px; } }
    .about .main .content-about .history .left, .about .main .content-about .history .right {
      padding: 0; }
      .about .main .content-about .history .left p::before, .about .main .content-about .history .right p::before {
        font-family: FontAwesome;
        content: "\f058";
        color: #18cfab;
        margin-right: 5px; }
