// h1,h3,h4,h5,h6{
//     margin: 0;
// }
// ======= Biáº¿n Color ===== 
$green-slide: #18cfab;
$white: #fff;
$text-color: #b8b8b8;
$mix-black: #1c2a33;

// ========== ===== 

@media (max-width: 991px){
    .head{
        #AllMenu{
            .navbar-nav{
                background: #834c9e80;
                border-radius: 5px;
            }

          
        }
    }
}
// ======= CSS main page ===== 

.head{
    background: #3b773bd9;
    .navbar-brand{
        padding: 10px 15px;
        .icon{
            width: 40px;
            height: 40px;
            display: inline-block;
            text-align: center;
            line-height: 35px;
            background: $green-slide;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            span{
                color: $white;
                font-size: 18px;
                font-weight: 700;
            }
        }
        .name{
            display: inline-block;
            h3{
                color:  $white;
                font-size: 18px;
                font-weight: 600;
                span{
                    color: $green-slide;
                }
            }
        }
    }
    #AllMenu{
        i,li a{
            color: $text-color;
        }
        .nav-link{
            border-bottom: 2px solid transparent;
            transition: all 500ms;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            padding-right: 0;
            padding-left: 0;
            &:hover{
                text-decoration: none;
                color: $green-slide;
                border-bottom: 2px solid $green-slide;
            }
        }
        .form-inline{
            .form-control, .btn{
                background: transparent;
            }
            .form-control{
                &::placeholder{
                    color: $text-color;
                }
                
            }
       } 
    }
}
.mybtn{
    display: inline-block;
    width: 160px;
    height: 65px;
    padding-top: 15px;
    margin: 5px;
    border-radius: 5px;
    border-top: 5px solid #fff;
    @media (max-width:992px){
        width: 100px;
        height: 40px;
        font-size: 12px;
        padding-top: 7px;
        font-weight: 500;
    }
}
a:hover{
    text-decoration: none;
    color: #fff;
}
.slide{
    #banner{
        .carousel-inner{
            .carousel-caption{
                @media (min-width: 920px){
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    bottom: unset;
                    padding: 0;
                }
                
                .content{
                    span{
                        color: $green-slide;
                    }
                    p{
                        color: $text-color;
                    }
                }
                .buy{
                    .explo{
                        background: #18cfab;
                        
                    }
                    .purch{
                        background: #00cbf6;
                    }
                }
            }
           
        }
    }
}
.block{
    display: inline-block;
    float: left;
}
.hicon{
    height: 300px;
    display: inline-block;
    float: left;
    text-align: center;
    padding-top: 100px;
    &:hover{
        box-shadow: 0px 5px 15px rgb(255, 255, 255);
    }
    p{
        font-size: 26px;
        font-weight: 700;
        color: #fff;
        margin-top: 15px;
    }
}
.icon01{
    background: $mix-black;
    color: $green-slide;
    border-top: 5px solid $green-slide;
}
.icon02{
    background: $green-slide;
    color: $white;
    border-top: 5px solid #fff;
}

.wrapper{
    .banner{
        
        i{    font-size: 70px;}
        h3{
            font-size: 20px;
            margin-top: 10px;
        }
       
    }
    .title{
        text-align: center;
        margin-bottom: 30px;
    } 
    #skills{
        padding: 90px 0;
        p{color: $text-color;}
        h5:hover{color: $green-slide;}
        
        .item{
            display: inline-block;
            float: left;
            margin-bottom: 40px;
        }
        .block{
            color: $green-slide;
            padding-right: 20px;
            font-family: FontAwesome;
            font-size: 25px;
        }
        .block01 h5::before{
            content: "\f06c";
            @extend .block;
        }
        .block02 h5::before{
            content: "\f24a";
            @extend .block;
        }
        .block03 h5::before{
            content:"\f002";
            @extend .block;
        }
        .block04 h5::before{
            content:"\f011";
            @extend .block;
        }
        .block05 h5::before{
            content:"\f013";
            @extend .block;
        }
        .block06 h5::before{
            content:"\f017";
            @extend .block;
        }
        .block07 h5::before{
            content:"\f01c";
            @extend .block;
        }
        .block08 h5::before{
            content:"\f16b";
            @extend .block;
        }
        .block09 h5::before{
            content:"\f02d";
            @extend .block;
        }

       
    }
}
.about{
    background: url(../img/bg02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.88;
    height: 600px;
    padding: 40px 0;
    .controls{
        .control {
            position: relative;
            display: inline-block;
            width: 2.7rem;
            height: 2.7rem;
            background: #444;
            cursor: pointer;
            font-size: 10px;
            color: white;
            transition: background 150ms;
        }
        
    }
    .contain{
        padding: 1rem;
        text-align: justify;
        font-size: 0.1px;
        .green {
            color: #91e6c7;
            display: none;
        }
       .blue {
            color: #5ecdde;
            display: none;
        }
        .pink {
            color: #d595aa;
        }
    
        
        
    }
}
.about{
    .main{
        .title{
            color: $white;
        }
        .menu-about{
            overflow: hidden;
            ul{
                margin: 0;
                padding: 0;
            }
        }
        .nav-item{
            display: inline-block;
            float: left;
            margin: 10px;
           
            a{
                border-top: 2px solid transparent;
                color: $white;
                font-weight: 600;
                &:hover{
                    color: $green-slide;
                    border-top: 2px solid $green-slide;
                }
            }
            
        }
        .content-about{
            position: relative;
            .our{
                height: 350px;
                width: 100%;
                transition: all 500ms;
                padding-top: 30px;
            }
            .skills{
                background: transparent;
                .codeconSkillbar {
                    width: 100%;
                    height: 30px;
                    position: relative;
                    background: rgba(17, 17, 17, .3);
                    margin: 10px auto;
                }
                .radiour{
                    border-bottom-right-radius: 3px;
                    border-top-right-radius: 3px;
                    height: 30px;
                    position: absolute;
                }
                #codeconHTML {
                    width: 100%;
                    animation: Animate-HTML 14s;
                    background-color: #9c5da5;
                   @extend .radiour;
                }
                @keyframes Animate-HTML {
                    from {
                    width: 10px;
                }
                to {
                    width: 100%}
                }
                .codeconSkillArea {
                    z-index: 1;
                    float: left;
                    margin-top: 3px;
                    margin-left: 10px;
                    color: #fff;
                    font-size: 16px;
                }
                .PercentText {
                    margin-top: 2px;
                    float: right;
                    color: #fff;
                    z-index: 3;
                    position: relative;
                    padding-right: 5px;
                    font-size: 16px;
                }
                #codeconCSS {
                    animation: Animate-CSS 5s;
                    width: 70%;
                    background-color: #11b0de;
                    @extend .radiour;
                }
                @keyframes Animate-CSS {
                    from {
                    width: 10px;
                }
                to {
                    width: 70%}
                }
                #codeconjQuery{
                    animation: Animate-jQuery 5s;
                    width: 40%;
                    @extend .radiour;
                    background-color: #d67f7f;
                }
                @keyframes Animate-jQuery {
                    from {
                    width: 10px;
                }
                to {
                    width: 40%}
                }
                #codeconJS{
                    animation: Animate-JS 5s;
                    width: 65%;
                    @extend .radiour;
                    background-color: #20bc9d;
                }
                @keyframes Animate-JS {
                    from {
                    width: 10px;
                }
                to {
                    width: 65%}
                }
                #codeconXML{
                    animation: Animate-XML 5s;
                    width: 40%;
                    @extend .radiour;
                    background-color: #bb8a36;
                }
                @keyframes Animate-XML {
                    from {
                    width: 10px;
                }
                to {
                    width: 40%}
                }
            }
            .biography{
                background: transparent;
                color: $white;
            }
            .history{
                background: transparent;
                color: $white;
                @media (max-width: 768px){
                   p{
                    margin-bottom: 10px;
                   } 
                }
                .left, .right{
                    padding: 0;
                    
                    p::before{
                        font-family: FontAwesome;
                        content: "\f058";
                        color: $green-slide;
                        margin-right: 5px;
                    }
                }
            }

        }
    }   
}
.work{
    .menu-work{
        text-align: center;
        ul{
            display: inline-block;
        }
        .control{
            border: 1px solid #f1f1f1;
            padding: 10px 15px;
            color: $text-color;
            font-weight: 500;
            &:hover{
                border-top: 2px solid $green-slide;
                color: $green-slide;
            }
        }
    }
    .containx{
        .block{
            display: inline-block;
            float: left;
        }
        img{
            width: 100%;
            height: auto;
        }
        .itemx{
            @extend .block;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            &:hover{
                .wap{
                    transform: rotateY(0deg) scale(1,1);
                    opacity: 1;
                }
                .step:hover{
                    background: $white;
                    color: $green-slide;
                }
            }
        }
       
        

        .wap{
            transform: rotateY(180deg) scale(0.5,0.5);
            transition: all 450ms ease-out 0s;
            opacity: 0;
            background: #fff;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            border-top: 2px solid $green-slide;
            padding-top: 45px;
           
            .step{
                color: $white;
                background: $green-slide;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 1px solid $green-slide;
                display: inline-block;
                line-height: 37px;
            }
            
            h5{
                font-weight: 700;
                margin-top: 40px;
                color: $green-slide;
            }
            p{
                color: $text-color;
            }
        }

        .mix, .gap {
            display: inline-block;
            vertical-align: top;
        }
         /* 2 Columns */
         .mix,
         .gap {
             width: calc(100%/1 - (((1 - 1) * 0rem) / 1));
         }
         @media screen and (min-width: 541px){
            .mix,
            .gap {
                width: calc(100%/2 - (((2 - 1) * 0rem) / 2));
            }
         }
         
    
        
        /* 3 Columns */
        
        @media screen and (min-width: 961px) {
            .mix,
            .gap {
                width: calc(100%/3 - (((3 - 1) * 0rem) / 3));
            }
        }
        
        /* 4 Columns */
        
        @media screen and (min-width: 1280px) {
            .mix,
            .gap {
                width: calc(100%/4 - (((4 - 1) * 0rem) / 4));
            }
        }
        
    }
}
.service{
    // margin-bottom: 20px;
    @media (min-width:992px){
       height: 400px;
        .navbar{
            padding: 0;
        }
        .navbar-nav{
            width: 100%;
            justify-content: space-between;
        }
        .active-service{
            background: $green-slide;
            &::before{
                border-top: 0px solid transparent;
                border-right: 10px solid $green-slide;
                border-bottom: 5px solid transparent;
                content: "";
                height: 0;
                right: 50%;
                position: absolute;
                bottom: -5px;
                width: 0;
            }
            &::after{
                border-top: 0px solid transparent;
                border-left: 10px solid $green-slide;
                border-bottom: 5px solid transparent;
                content: "";
                height: 0;
                left: 50%;
                position: absolute;
                bottom: -5px;
                width: 0;
            }
            .nav-link{
                color: $white !important;
            }
        }
        .nav-item{
            border: 1px solid #f1f1f1;
            width: 16.666667%;
            text-align: center;
            padding: 8px 0px;
            font-weight: 600;
            position: relative;
            &:hover{
                @extend .active-service;
            }
        }
    }
    .content-service{
        margin-top: 20px;
        img{
            width: 100%;
            height: auto;
            }
        .image{
            padding: 0;
        }
        .block{
            padding-right: 0;
        }
        p{
            color: $text-color;
        }
    }
    
}
.ready{
    background-image: url(../img/bg.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    color: $text-color;
    text-align: center;
    padding-top: 20px;
    @media (min-width: 992px){
        padding-top: 100px;
    }
    
    h1{
        color: $green-slide;
    }
    .style{
        background: $green-slide;
        text-align: center;
    }
}
.news{
    margin-bottom: 50px;
    @media (max-width: 992px){
        margin-bottom: 10px;
    }
    .content-news{
        position: relative;
        color: $text-color;
        .item{
            padding-bottom: 15px;
            &:hover{
                cursor: pointer;
                h5{
                    color: $green-slide;
                }
                .time{
                    background: $green-slide;
                }
            }
        }
        img{
            width: 100%;
            height: auto;
        }
        .time{
            transition: all 500ms;
            display: inline-block;
            width: 40px;
            height: 40px;
            color: $white;
            text-align: center;
            line-height: 17px;
            background: #092923;
            position: absolute;
            top: 0;
            right: 15px;
            p{
                margin: 0;
                padding: 0;
            }
        }
        .info{
            padding-left: 15px;
            overflow: hidden;
            border: 1px solid #dedede;
            background: #f0fffc;
            h5{
                color: #444;
                transition: all 500ms;
            }
            .admin{
                border-right: 1px solid;
                padding-right: 10px;
                margin-right: 10px;
            }
        }
    }
    
}